{% extends "base.html" %}

{% set title %}Home{% endset %}

{% block content %}
<h1>GOG Database</h1>

<div class="textbox shadow">
  <p>
    Welcome to the GOG Database, a third-party website that collects data on
    <a href="https://www.gog.com" target="_blank">GOG games</a>
    and tries to display it in a user-friendly manner. It's currently
    in beta state, because a lot of planned functionality is still missing.
  </p>

  <p>
    To get started visit the
    <a href="{{ url_for('product_list') }}">products site</a>
    and search for a game. Click on the name or ID to go to its info page.
  </p>

  <p>
    If you found bugs or want to request a feature, you can 
    <a href="mailto://daibingzhi9519@outlook.com">mail me</a>.
    Source code is hosted on
    <a href="https://github.com/tiehichi/gogdb" target="_blank">Github</a>.
  </p>
</div>
{% endblock content %}
