{% extends "base.html" %}

{% from "changelog_format.html" import format_record %}

{% set title %}{{ product['title'] | default("Unknown", true) }}{% endset %}

{% block link %}
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/css/lightgallery.min.css" />
{% endblock link %}

{% block js %}
{% assets "js-prodinfo" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/js/lightgallery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lg-thumbnail/1.1.0/lg-thumbnail.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lg-fullscreen/1.1.0/lg-fullscreen.min.js"></script>
<script type="application/json" id="discount-json">
    {{ discount | tojson | safe }}
</script>
{% endblock js %}

{% block style %}
<style>
{% if product['links']['backgroundImage'] %}
body{
    background-image: url({{ product['links']['backgroundImage'] }});
    background-repeat: no-repeat;
}
{% endif %}
.detail_title{
    width: 200px;
}
</style>
{% endblock style %}

{% block content %}
<div style="padding-top:5px; padding-bottom:5px; margin-bottom:0px;">
    {% if product['links']['icon'] %}
    <img src={{ product['links']['icon'] }} alt width="64" height="64" style="display: inline-block; float: left; margin-right:5px;"/>
    {% endif %}
    <h1 style="white-space: nowrap; ">{{ title }}</h1>
</div>

<div id="info-container">
    <div id="info-container-left">
        <table id="info-table" class="shadow cellborder">
            <tr>
                <td>Product ID</td>
                <td>{{ product['id'] }}</td>
            </tr>
            <tr>
                <td>Product Type</td>
                <td>{{ product['productType'] }}</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>{{ product['title'] }}</td>
            </tr>
            <tr>
                <td>Developer</td>
                {% if product['developers'] | length < 1 %}
                <td></td>
                {% else %}
                <td>{{ ', '.join(product['developers']) }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>Publisher</td>
                {% if product['publishers'] | length < 1 %}
                <td></td>
                {% else %}
                <td>{{ ', '.join(product['publishers']) }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>Available For Sale</td>
                <td>{{ product['isAvailableForSale'] | yes_no }}</td>
            </tr>
            <tr>
                <td>Supported Sytems</td>
                <td>{{ product['supportedOS'] | os_icons }}</td>
            </tr>
            <tr>
                <td>Average Rating</td>
                <td>{{ product['averageRating'] }}/5.00</td>
            </tr>
            <tr>
                <td>Global Release Date</td>
                <td>{{ product['globalReleaseDate'] }}</td>
            </tr>
        </table>
    </div>
    <div id="info-container-right">
        {% if product['image'] %}
        <a id="product-logo-gallery" href="{{ product['image']['href'].replace('{formatter}', product['image']['formatters'][0]) }}" >
            <picture>
            <source id="product-logo" class="shadow zoom" srcset="{{ product['image']['href'].replace('{formatter}', product['image']['formatters'][product['image']['formatters']|length-2]).replace('png', 'webp') }}" type="image/webp">
                <img id="product-logo" class="shadow zoom" src="{{ product['image']['href'].replace('{formatter}', product['image']['formatters'][product['image']['formatters']|length-2]) }}" alt="">
            </picture>
        </a>
        <script>
            $('#product-logo-gallery').lightGallery({
                selector: 'this'
            });
        </script>
        {% else %}
        <img id="product-logo" class="shadow" src="{{ url_for('static', filename='img/no_logo_1600x900.svg') }}" alt="">
        {% endif %}
        {% if product['links']['store'] %}
        <a id="store-button" class="btn-gog" href="{{ product['links']['store'] }}" target='_blank'>
            Store
        </a>
        {% endif %}
        {% if product['links']['forum'] %}
        <a id="store-button" class="btn-gog" href="{{ product['links']['forum'] }}" target='_blank'>
            Forum
        </a>
        {% endif %}
        {% if product['links']['support'] %}
        <a id="store-button" class="btn-gog" href="{{ product['links']['support'] }}" target='_blank'>
            Support
        </a>
        {% endif %}
    </div>
</div>
{% if product['additionalRequirements'] != "" %}
<div class="textbox shadow">
    {{ product['additionalRequirements'] | safe }}
</div>
{% endif %}

<div id="tabs-container" class="shadow">
    <a href="#prices" class="tabs-item no-underline">Prices</a>
    <a href="#details" class="tabs-item no-underline">Details</a>
    <a href="#localizations" class="tabs-item no-underline">Localizations</a>
    <a href="#media" class="tabs-item no-underline">Media</a>
    {#
    <a href="#downloads" class="tabs-item no-underline">Downloads</a>
    <a href="#builds" class="tabs-item no-underline">Builds</a>
    <a href="#changelog" class="tabs-item no-underline">Changelog</a>
    #}
</div>

<div id="tab-prices" class="tab">
    <h2>Prices</h2>
    {% if discount['values'] | length > 0 %}
    <div id="chart-container">
        <canvas id="chart-canvas" class="shadow"></canvas>
    </div>
    {% endif %}
    {% if baseprice | length > 0 %}
    <table class="shadow cellborder">
        <tr>
            <th>CountryCode</th>
            <th>BasePrice</th>
            <th>Currency</th>
        </tr>
        {% for price in baseprice %}
        <tr>
            <td>{{ price['country'] }}</td>
            <td>{{ price['price'] }}</td>
            <td>{{ price['currency'] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div class="textbox shadow">
        No price data available.
    </div>
    {% endif %}
</div>

<div id="tab-details" class="tab">
    <h2>Details</h2>
    <table class="shadow cellborder">
        <tbody>
            {% set newprod = product | prod_detail(['hasProductCard','inDevelopment', 'isInstallable', 'isPreorder', 'isSecret', 'isUsingDosBox', 'isVisibleInAccount', 'isVisibleInCatalog']) %}
            {% for key in newprod %}
            <tr>
                <td class="detail_title">{{ key }}</td>
                <td>{{ newprod[key] | yes_no }}</td>
            </tr>
            {% endfor %}

            {% set newprod = product | prod_detail(['tags', 'features']) %}
            {% for key in newprod %}
            {% if newprod[key] | length > 0 %}
            <tr>
                <td class="detail_title">{{ key }}</td>
                <td>{{ ', '.join(newprod[key]) }}</td>
            </tr>
            {% endif %}
            {% endfor %}

            {% set newprod = product | prod_detail(['editions', 'requiredByGames', 'requiresGames', 'includedInGames', 'includesGames'])%}
            {% for key in newprod %}
            {% if newprod[key] | length > 0 %}
            <tr>
                <td class="detail_title">{{ key }}</td>
                <td>
                    {% for prod in newprod[key] %}
                    {{ prod | prod_url }} 
                    {% endfor %}
                </td>
            </tr>
            {% endif %}
            {% endfor %}

            {% if product['image'] %}
            <tr>
                <td class="detail_title">Image</td>
                <td>
                    {% for formatter in product['image']['formatters'] %}
                    <a href={{product['image']['href'].replace('{formatter}', formatter) }}>{{ formatter }}</a><br>
                    {% endfor %}
                </td>
            </tr>
            {% endif %}

            {% set oimage = product['links'] | prod_detail(['backgroundImage', 'galaxyBackgroundImage', 'boxArtImage', 'icon', 'iconSquare', 'logo']) %}
            {% if oimage | length > 0 %}
            <tr>
                <td class="detail_title">Other Image</td>
                <td>
                    {% for key in oimage %}
                    {% if oimage[key] %}
                    <a href={{ oimage[key] }}>{{ key }}</a><br>
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endif %}

        </tbody>
    </table>
</div>

<div id="tab-localizations" class="tab">
    <h2>Localizations</h2>
    {% set locs = product['localizations'] | loc %}
    {% if locs | length > 0 %}
    <table class="shadow cellborder">
        <tr>
            <th>Language</th>
            <th>Type</th>
        </tr>
        {% for lo in locs %}
        <tr>
            <td style="width: 50%;">{{ lo }}</td>
            <td>{{ ', '.join(locs[lo]) }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div class="shadow textbox">
        No localization data available.
    </div>
    {% endif %}
</div>
<div id="tab-media" class="tab">
    <h2>Media</h2>
    {% if product['screenshots'] %}
    <div class="shadow" style="background-color: #e1e1e1; padding: 10px 20px">
        <h3>ScreenShots</h3>
        <div id="screenshots">
            {% for sc in product['screenshots'] %}
            <a href={{ sc['href'].replace('{formatter}', sc['formatters'][0]) }} style="text-decoration: none;">
                <picture>
                {% if 'product_card_screenshot_748' in sc['formatters'] %}
                <source class="shadow zoom" srcset={{ sc['href'].replace('{formatter}', 'product_card_screenshot_748').replace('jpg', 'webp') }} type="image/webp" style="width: 22%;">
                    <img class="shadow zoom" src={{ sc['href'].replace('{formatter}', 'product_card_screenshot_748') }} style="width: 22%;">
                {% else %}
                <source class="shadow zoom" srcset={{ sc['href'].replace('{formatter}', sc['formatters'][0]).replace('jpg', 'webp') }} type="image/webp" style="width: 22%;">
                    <img class="shadow zoom" src={{ sc['href'].replace('{formatter}', sc['formatters'][0]) }} style="width: 22%;">
                {% endif %}
                </picture>
            </a>
            {% endfor %}
        </div>
        <script>
            $('#screenshots').lightGallery();
        </script>
        {% endif %}
    </div>
</div>
{#
<div id="tab-downloads" class="tab">
    <h2>Downloads</h2>

    {% if product.valid_downloads %}
    {% if product.valid_installers %}
    <table class="shadow cellborder">
        <tr>
            <th class="dl-name">Name</th>
            <th class="dl-os">OS</th>
            <th class="dl-lang">Language</th>
            <th class="dl-type">Type</th>
            <th class="dl-size">Size</th>
            <th class="dl-version">Version</th>
        </tr>
        {% for download in product.valid_installers %}
        {% for dlfile in download.valid_files %}
        <tr>
            <td>
                <a href="https://www.gog.com/downlink/{{ product.slug }}/{{ dlfile.slug }}">
                    {{ download.name }}
                    {% if loop.length > 1 %}
                    (Part {{ loop.index }} of {{ loop.length }})
                    {% endif %}
                </a>
            </td>
            <td>{{ download.os | os_icon }}</td>
            <td>{{ download.language_name }}</td>
            <td>{{ download.type_name }}</td>
            <td>{{ dlfile.size | filesizeformat }}</td>
            <td>{{ download.version | default('N/A', true) }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </table>
    {% endif %}

    {% if product.valid_bonus %}
    <table id="downloads-bonus" class="shadow cellborder">
        <tr>
            <th class="dl-name">Name</th>
            <th class="dl-category">Category</th>
            <th class="dl-type">Type</th>
            <th class="dl-size">Size</th>
            <th class="dl-count">Count</th>
        </tr>
        {% for download in product.valid_bonus %}
        {% for dlfile in download.valid_files %}
        <tr>
            <td>
                <a href="https://www.gog.com/downlink/file/{{ product.slug }}/{{ dlfile.slug }}">
                    {{ download.name | title }}
                </a>
            </td>
            <td>{{ download.bonus_type_name }}</td>
            <td>{{ download.type_name }}</td>
            <td>{{ dlfile.size | filesizeformat}}</td>
            <td>{{ download.count }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </table>
    {% endif %}
    {% else %}
    <div class="textbox shadow">
        No downloads available.
    </div>
    {% endif %}
</div>

<div id="tab-builds" class="tab">
    <h2>Builds</h2>

    {% if product.builds %}
    <table id="builds-table" class="shadow cellborder">
        <tr>
            <th>Build ID</th>
            <th>OS</th>
            <th>Version</th>
            <th>Date</th>
            <th>Gen</th>
            <th>Repository ID</th>
        </tr>
        {% for build in product.builds %}
        <tr>
            <td><a href="{{ url_for('build', prod_id=build.prod_id, build_id=build.build_id) }}">{{ build.build_id }}</a></td>
            <td>{{ build.os | os_icon }}</td>
            <td>{{ build.version | default("N/A", true) }}</td>
            <td>{{ build.date_published.strftime("%Y-%m-%d") }}</td>
            <td>{{ build.generation }}</td>
            {% if build.generation == 1 %}
            <td class="mono">{{ build.legacy_build_id }}</td>
            {% else %}
            <td class="mono">{{ build.meta_id }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div class="textbox shadow">
        No builds available.
    </div>
    {% endif %}
</div>

<div id="tab-media" class="tab">
    {% if not (product.screenshots or product.videos) %}
    <div class="textbox shadow">
        No media files available.
    </div>
    {% endif %}

    {% if product.screenshots %}
    <h2>Screenshots</h2>

    <div id="screen-container">
        {% for image in product.screenshots %}
        <a class="screen-item no-underline" href="https://images.gog.com/{{ image.image_id }}.jpg">
            <img class="screen-thumb" src="{{ image.image_id | gog_image('_ggvgm.jpg') }}" alt="Screenshot {{ loop.index }}">
        </a>
        {% endfor %}
    </div>
    {% endif %}

    {% if product.videos %}
    <h2>Videos</h2>

    <div id="video-container">
        {% for video in product.videos %}
        <a class="video-item no-underline" href="https://www.youtube.com/watch?v={{ video.video_id }}">
            <img class="video-thumb" src="https://img.youtube.com/vi/{{ video.video_id }}/mqdefault.jpg" alt="Video {{ loop.index }}">
        </a>
        {% endfor %}
    </div>
    {% endif %}
</div>

<div id="tab-changelog" class="tab">
    <h2>Changelog</h2>

    {% if product.changes %}
    <table class="shadow rowborder">
        {% for record in product.changes %}
        <tr>
            <td class="col-change-icon">
                {% if record.action == "add" %}
                <i class="fa fa-plus color-add" aria-hidden="true"></i>
                <span class="nocss">+</span>
                {% elif record.action == "del" %}
                <i class="fa fa-minus color-del" aria-hidden="true"></i>
                <span class="nocss">-</span>
                {% elif record.action == "change" %}
                <i class="fa fa-circle color-change" aria-hidden="true"></i>
                <span class="nocss">o</span>
                {% endif %}
            </td>
            <td class="col-change-desc">
                {{ format_record(record) }}
            </td>
            <td class="col-change-date">
                {{ record.timestamp.strftime("%Y-%m-%d") }}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div class="textbox shadow">
        No changelog entries.
    </div>
    {% endif %}
</div>
{% endif %}
#}

{% endblock content %}
